/*!
 * Font Mfizz 2.3.0-SNAPSHOT
 * Copyright 2013-2016 Fizzed, Inc.
 * MIT License
 *
 * Project: http://fizzed.com/oss/font-mfizz
 *
 * The font designed for technology and software geeks representing programming
 * languages, operating systems, software engineering, and technology.
 *
 * Fizzed, Inc.
 * Web: http://fizzed.com/
 * Twitter: http://twitter.com/fizzed_inc
 */

@font-face {
  font-family: "FontMfizz";
  src: url("./font-mfizz.eot");
  src: url("./font-mfizz.eot?#iefix") format("embedded-opentype"),
       url("./font-mfizz.woff") format("woff"),
       url("./font-mfizz.ttf") format("truetype"),
       url("./font-mfizz.svg#font-mfizz") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "FontMfizz";
    src: url("./font-mfizz.svg#font-mfizz") format("svg");
  }
}

*/

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-3dprint:before,
.icon-angular:before,
.icon-antenna:before,
.icon-apache:before,
.icon-archlinux:before,
.icon-aws:before,
.icon-blackberry:before,
.icon-bomb:before,
.icon-c:before,
.icon-cassandra:before,
.icon-centos:before,
.icon-clojure:before,
.icon-coffee-bean:before,
.icon-cplusplus:before,
.icon-csharp:before,
.icon-css:before,
.icon-database:before,
.icon-database-alt:before,
.icon-database-alt2:before,
.icon-debian:before,
.icon-docker:before,
.icon-dreamhost:before,
.icon-elixir:before,
.icon-erlang:before,
.icon-exherbo:before,
.icon-fedora:before,
.icon-fire-alt:before,
.icon-freebsd:before,
.icon-gentoo:before,
.icon-ghost:before,
.icon-git:before,
.icon-gnome:before,
.icon-google:before,
.icon-google-alt:before,
.icon-google-code:before,
.icon-google-developers:before,
.icon-gradle:before,
.icon-grails:before,
.icon-grails-alt:before,
.icon-grunt:before,
.icon-hadoop:before,
.icon-haskell:before,
.icon-heroku:before,
.icon-html:before,
.icon-iphone:before,
.icon-java:before,
.icon-java-bold:before,
.icon-java-duke:before,
.icon-javascript:before,
.icon-javascript-alt:before,
.icon-jetty:before,
.icon-kde:before,
.icon-laravel:before,
.icon-line-graph:before,
.icon-linux-mint:before,
.icon-looking:before,
.icon-mariadb:before,
.icon-maven:before,
.icon-microscope:before,
.icon-mobile-device:before,
.icon-mobile-phone-alt:before,
.icon-mobile-phone-broadcast:before,
.icon-mongodb:before,
.icon-mssql:before,
.icon-mysql:before,
.icon-mysql-alt:before,
.icon-netbsd:before,
.icon-nginx:before,
.icon-nginx-alt:before,
.icon-nginx-alt2:before,
.icon-nodejs:before,
.icon-objc:before,
.icon-oracle:before,
.icon-oracle-alt:before,
.icon-osx:before,
.icon-perl:before,
.icon-phone-alt:before,
.icon-phone-gap:before,
.icon-phone-retro:before,
.icon-php:before,
.icon-php-alt:before,
.icon-playframework:before,
.icon-playframework-alt:before,
.icon-plone:before,
.icon-postgres:before,
.icon-postgres-alt:before,
.icon-python:before,
.icon-raspberrypi:before,
.icon-redhat:before,
.icon-redis:before,
.icon-ruby:before,
.icon-ruby-on-rails:before,
.icon-ruby-on-rails-alt:before,
.icon-satellite:before,
.icon-scala:before,
.icon-scala-alt:before,
.icon-script:before,
.icon-script-alt:before,
.icon-shell:before,
.icon-solaris:before,
.icon-splatter:before,
.icon-spring:before,
.icon-suse:before,
.icon-svg:before,
.icon-symfony:before,
.icon-tomcat:before,
.icon-ubuntu:before,
.icon-wireless:before,
.icon-wordpress:before {
  display: inline-block;
  font-family: "FontMfizz";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  /*text-rendering: optimizeLegibility;*/
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /*font-smoothing: antialiased;*/
}

.icon-3dprint:before { content: "\f100"; }
.icon-angular:before { content: "\f101"; }
.icon-antenna:before { content: "\f102"; }
.icon-apache:before { content: "\f103"; }
.icon-archlinux:before { content: "\f104"; }
.icon-aws:before { content: "\f105"; }
.icon-blackberry:before { content: "\f106"; }
.icon-bomb:before { content: "\f107"; }
.icon-c:before { content: "\f108"; }
.icon-cassandra:before { content: "\f109"; }
.icon-centos:before { content: "\f10a"; }
.icon-clojure:before { content: "\f10b"; }
.icon-coffee-bean:before { content: "\f10c"; }
.icon-cplusplus:before { content: "\f10d"; }
.icon-csharp:before { content: "\f10e"; }
.icon-css:before { content: "\f10f"; }
.icon-database:before { content: "\f110"; }
.icon-database-alt:before { content: "\f111"; }
.icon-database-alt2:before { content: "\f112"; }
.icon-debian:before { content: "\f113"; }
.icon-docker:before { content: "\f114"; }
.icon-dreamhost:before { content: "\f115"; }
.icon-elixir:before { content: "\f116"; }
.icon-erlang:before { content: "\f117"; }
.icon-exherbo:before { content: "\f118"; }
.icon-fedora:before { content: "\f119"; }
.icon-fire-alt:before { content: "\f11a"; }
.icon-freebsd:before { content: "\f11b"; }
.icon-gentoo:before { content: "\f11c"; }
.icon-ghost:before { content: "\f11d"; }
.icon-git:before { content: "\f11e"; }
.icon-gnome:before { content: "\f11f"; }
.icon-google:before { content: "\f120"; }
.icon-google-alt:before { content: "\f121"; }
.icon-google-code:before { content: "\f122"; }
.icon-google-developers:before { content: "\f123"; }
.icon-gradle:before { content: "\f124"; }
.icon-grails:before { content: "\f125"; }
.icon-grails-alt:before { content: "\f126"; }
.icon-grunt:before { content: "\f127"; }
.icon-hadoop:before { content: "\f128"; }
.icon-haskell:before { content: "\f129"; }
.icon-heroku:before { content: "\f12a"; }
.icon-html:before { content: "\f12b"; }
.icon-iphone:before { content: "\f12c"; }
.icon-java:before { content: "\f12d"; }
.icon-java-bold:before { content: "\f12e"; }
.icon-java-duke:before { content: "\f12f"; }
.icon-javascript:before { content: "\f130"; }
.icon-javascript-alt:before { content: "\f131"; }
.icon-jetty:before { content: "\f132"; }
.icon-kde:before { content: "\f133"; }
.icon-laravel:before { content: "\f134"; }
.icon-line-graph:before { content: "\f135"; }
.icon-linux-mint:before { content: "\f136"; }
.icon-looking:before { content: "\f137"; }
.icon-mariadb:before { content: "\f138"; }
.icon-maven:before { content: "\f139"; }
.icon-microscope:before { content: "\f13a"; }
.icon-mobile-device:before { content: "\f13b"; }
.icon-mobile-phone-alt:before { content: "\f13c"; }
.icon-mobile-phone-broadcast:before { content: "\f13d"; }
.icon-mongodb:before { content: "\f13e"; }
.icon-mssql:before { content: "\f13f"; }
.icon-mysql:before { content: "\f140"; }
.icon-mysql-alt:before { content: "\f141"; }
.icon-netbsd:before { content: "\f142"; }
.icon-nginx:before { content: "\f143"; }
.icon-nginx-alt:before { content: "\f144"; }
.icon-nginx-alt2:before { content: "\f145"; }
.icon-nodejs:before { content: "\f146"; }
.icon-objc:before { content: "\f147"; }
.icon-oracle:before { content: "\f148"; }
.icon-oracle-alt:before { content: "\f149"; }
.icon-osx:before { content: "\f14a"; }
.icon-perl:before { content: "\f14b"; }
.icon-phone-alt:before { content: "\f14c"; }
.icon-phone-gap:before { content: "\f14d"; }
.icon-phone-retro:before { content: "\f14e"; }
.icon-php:before { content: "\f14f"; }
.icon-php-alt:before { content: "\f150"; }
.icon-playframework:before { content: "\f151"; }
.icon-playframework-alt:before { content: "\f152"; }
.icon-plone:before { content: "\f153"; }
.icon-postgres:before { content: "\f154"; }
.icon-postgres-alt:before { content: "\f155"; }
.icon-python:before { content: "\f156"; }
.icon-raspberrypi:before { content: "\f157"; }
.icon-redhat:before { content: "\f158"; }
.icon-redis:before { content: "\f159"; }
.icon-ruby:before { content: "\f15a"; }
.icon-ruby-on-rails:before { content: "\f15b"; }
.icon-ruby-on-rails-alt:before { content: "\f15c"; }
.icon-satellite:before { content: "\f15d"; }
.icon-scala:before { content: "\f15e"; }
.icon-scala-alt:before { content: "\f15f"; }
.icon-script:before { content: "\f160"; }
.icon-script-alt:before { content: "\f161"; }
.icon-shell:before { content: "\f162"; }
.icon-solaris:before { content: "\f163"; }
.icon-splatter:before { content: "\f164"; }
.icon-spring:before { content: "\f165"; }
.icon-suse:before { content: "\f166"; }
.icon-svg:before { content: "\f167"; }
.icon-symfony:before { content: "\f168"; }
.icon-tomcat:before { content: "\f169"; }
.icon-ubuntu:before { content: "\f16a"; }
.icon-wireless:before { content: "\f16b"; }
.icon-wordpress:before { content: "\f16c"; }
